<li class="dropdown hidden-xs hidden-sm">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-envelope"/>
        <span class="badge">3</span>
    </a>
    <ul class="dropdown-menu extended notification">
        <li class="title">
            <p>You have 3 new messages</p>
        </li>
        <li>
            <a href="javascript:void(0);">
            <span class="photo">
              <img src="../assets/img/demo/avatar-1.jpg" alt=""/>
            </span>
                <span class="subject">
              <span class="from">Bob Carter</span>
              <span class="time">Just Now</span>
            </span>
                <span class="text">Consetetur sadipscing elitr...</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
            <span class="photo">
              <img src="../assets/img/demo/avatar-2.jpg" alt=""/>
            </span>
                <span class="subject">
              <span class="from">Jane Doe</span>
              <span class="time">45 mins</span>
            </span>
                <span class="text">Sed diam nonumy...</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
            <span class="photo">
              <img src="../assets/img/demo/avatar-3.jpg" alt=""/>
            </span>
                <span class="subject">
              <span class="from">Patrick Nilson</span>
              <span class="time">6 hours</span>
            </span>
                <span class="text">No sea takimata sanctus...</span>
            </a>
        </li>
        <li class="footer">
            <a href="javascript:void(0);">查看所有消息</a>
        </li>
    </ul>
</li>
